<!DOCTYPE html>

<!--
Project name(项目名称)：Element_UI_rate
  File name(文件名): test1
  Authors(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/4/30
  Time(创建时间)： 14:38
  Description(描述)： 无
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/element-ui.css">
    <script src="js/vue.js"></script>
    <script src="js/element-ui.js"></script>
</head>
<body>


<div id="app">
    <el-rate @change="change(value1)" v-model="value1"></el-rate>
    <el-rate
            v-model="value2"
            @change="change(value2)"
            :colors="colors">
    </el-rate>

</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            value1: "",
            value2: "",
            colors: ['#99A9BF', '#F7BA2A', '#FF9900'],

        },
        methods: {
            change: function (value)
            {
                console.log(value)
            }
        },
        mounted()
        {

        }
    })
</script>

</body>
</html>